https://huggingface.co/datasets/gptilt/lol-basic-matches-challenger-10k/tree/main/matches

In [1]:
import pandas as pd

In [4]:
df1 = pd.read_parquet("data/region_americas-00000.parquet")
df1.to_csv("data/america.csv", index=False)

In [5]:
df2 = pd.read_parquet("data/region_asia-00000.parquet")
df2.to_csv("data/asia.csv", index=False)

In [6]:
df3 = pd.read_parquet("data/region_europe-00000.parquet")
df3.to_csv("data/europe.csv", index=False)

In [8]:
df1 = pd.read_csv("data/america.csv")
df2 = pd.read_csv("data/europe.csv")
df3 = pd.read_csv("data/asia.csv")

df = pd.concat([df1, df2, df3], ignore_index=True)
df

,endOfGameResult,gameDuration,gameEndTimestamp,gameId,gameStartTimestamp,gameVersion,matchId,platformId,region,team_100_EPIC_MONSTER_KILL,...,team_200_horde_first,team_200_horde_kills,team_200_inhibitor_first,team_200_inhibitor_kills,team_200_riftHerald_first,team_200_riftHerald_kills,team_200_tower_first,team_200_tower_kills,tournamentCode,winner_team_id
0,GameComplete,1400,1745018960446,5269865992,1745017559681,15.8.675.10,NA1_5269865992,NA1,americas,3.0,...,False,0,False,0,False,0,False,2,NaN,100
1,GameComplete,1524,1744589457829,5266494442,1744587933314,15.7.672.4034,NA1_5266494442,NA1,americas,2.0,...,True,5,True,1,False,0,False,8,NaN,200
2,GameComplete,1782,1744585171830,5266444763,1744583389986,15.7.672.4034,NA1_5266444763,NA1,americas,2.0,...,True,1,False,0,False,0,False,2,NaN,100
3,GameComplete,1939,1744582474913,5266408515,1744580535842,15.7.672.4034,NA1_5266408515,NA1,americas,1001.0,...,False,3,True,1,False,0,False,8,NaN,200
4,GameComplete,930,1744576222010,5266355238,1744575291787,15.7.672.4034,NA1_5266355238,NA1,americas,1.0,...,False,0,False,0,False,0,True,3,NaN,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,GameComplete,2039,1742228942521,7564400504,1742226903630,15.5.662.6652,KR_7564400504,KR,asia,2.0,...,True,6,False,0,True,1,True,4,NaN,100
9998,GameComplete,1768,1742225867891,7564345758,1742224099619,15.5.662.6652,KR_7564345758,KR,asia,1001.0,...,True,6,True,1,True,1,True,7,NaN,200
9999,GameComplete,1153,1742214911949,7564082053,1742213758406,15.5.662.6652,KR_7564082053,KR,asia,3.0,...,False,0,False,0,False,0,False,0,NaN,100
10000,GameComplete,1264,1741530850044,7555030815,1741529585699,15.5.662.6652,KR_7555030815,KR,asia,3.0,...,True,4,False,0,False,0,False,1,NaN,100
10001,GameComplete,1629,1743075444042,501487248,1743073815137,15.6.668.2516,JP1_501487248,JP1,asia,1001.0,...,True,5,True,1,True,1,False,6,NaN,200